body {
  font-family: "Poppins", sans-serif;
}

/** Colors **/

.color-rock {
  color: #b69e31;
}

.color-ghost {
  color: #70559b;
}

.color-steel {
  color: #b7b9d0;
}

.color-water {
  color: #6493eb;
}

.color-grass {
  color: #74cb48;
}

.color-psychic {
  color: #fb5584;
}

.color-ice {
  color: #9ad6df;
}

.color-dark {
  color: #75574c;
}

.color-fairy {
  color: #e69eac;
}

.color-normal {
  color: #aaa67f;
}

.color-fighting {
  color: #c12239;
}

.color-flying {
  color: #a891ec;
}

.color-poison {
  color: #a43e9e;
}

.color-ground {
  color: #dec16b;
}

.color-bug {
  color: #a7b723;
}

.color-fire {
  color: #f57d31;
}

.color-electric {
  color: #f9cf30;
}

.color-dragon {
  color: #7037ff;
}

.background-rock {
  background-color: #b69e31;
}

.background-ghost {
  background-color: #70559b;
}

.background-steel {
  background-color: #b7b9d0;
}

.background-water {
  background-color: #6493eb;
}

.background-grass {
  background-color: #74cb48;
}

.background-psychic {
  background-color: #fb5584;
}

.background-ice {
  background-color: #9ad6df;
}

.background-dark {
  background-color: #75574c;
}

.background-fairy {
  background-color: #e69eac;
}

.background-normal {
  background-color: #aaa67f;
}

.background-fighting {
  background-color: #c12239;
}

.background-flying {
  background-color: #a891ec;
}

.background-poison {
  background-color: #a43e9e;
}

.background-ground {
  background-color: #dec16b;
}

.background-bug {
  background-color: #a7b723;
}

.background-fire {
  background-color: #f57d31;
}

.background-electric {
  background-color: #f9cf30;
}

.background-dragon {
  background-color: #7037ff;
}
